.add-form {
  background-color: #cdc8e2;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
}

.input-group {
  color: #463f6b;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.add-input {
  height: 40px;
  width: 240px;
  border: none;
  border-radius: 12px;
  padding: 0 12px;
}

.add-button {
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: #66608c;
  width: 140px;
  color: #fff;
  font-weight: 700;
}
.add-button:hover {
  background-color: #79719a;
}
