.list-container {
  color: #463f6b;
  padding: 20px 24px 50px 24px;
}
.list-line {
  margin-top: 40px;
  border-bottom: 2px solid #463f6b;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
}
