.layout {
  margin: 100px auto;
  max-width: 1200px;
  max-height: 100%;
  background-color: white;
  height: 100%;
  width: 80%;
  box-shadow: 0px 0px 20px #7e7a87;
  font-family: "GmarketSansMedium";
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
